*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color:gray;
  margin: auto;
  margin-top: 25px;
}
.key-container{
  padding: 10px;
  border-radius: 20px;
  background-color:black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width:1100px;
}
.key{
  margin:5px;
  border-radius: 10px;
  position: relative;
  box-shadow: -2px 2px grey;
  outline: none;
  user-select: none;
  width: 60px;
  height: 60px;
  font-size: 1.3rem;
}
.key_small{
  width: 70px;
}
.key_enter{
  width: 130px;
}
.key_ctrl{
  width: 100px;
}
.key_big{
  width: 140px;
}
.key_shift_right{
  width: 100px;
}
.key_wide{
  width: 410px;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.textarea{
  cursor:default;
  font-size: 1.3rem;
  border: 15px solid black;
  border-radius: 10px;
  padding: 10px;
  outline: none;
  resize: none;
  align-self: center;
  height: 40vh;
  width:1100px;
}
.key_pressed{
  background-color:grey;
  border: none;
  box-shadow: none;
}
.caps_marker{
  right:8px;
  top:8px;
  position: absolute;
  border-radius: 10px;
  width: 10px;
  height: 10px;
  background-color: grey;
}
.caps_marker_active{
  background-color: rgb(129, 223, 129);
}
